<% paginated_section people do %>
<table id="list">
  <tr id="list_head">
    <td><%= link_to_sort 'Kundennummer','id' %></td>
    <td><%= link_to_sort 'Vorname', 'given_name' %></td>
    <td><%= link_to_sort 'Nachname', 'surname' %></td>
    <td><%= link_to_sort 'PLZ', 'zipcode' %></td>
    <td><%= link_to_sort 'Bestellungen', 'order_ids.size' %></td>
    <td><%= link_to_sort 'FB', 'facebook_account_status' %></td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>

  <% people.each do |person| %>
  <tr class="list_row">
    <td><%= person.id %></td>
    <td><%= person.given_name %></td>
    <td><%= person.surname %></td>
    <td><%= person.zipcode %>&nbsp;<%= person.city %></td>
    <td><%= person.order_ids.size %></td>
    <td><%= person.facebook_account_status %></td>
    <td><%= link_to "Bearbeiten", edit_contact_url(person.id) %></td>
    <td><%= link_to "Aufträge", contact_orders_url(person.id) %></td>
    <td><%= link_to "Autos", contact_cars_url(person.id) %></td>
  </tr>
  <% end %>
</table>
<% end %>